@{
    ViewBag.Title = "About";
}

@section section{
    <section class="about-us-header">
        <div class="col-lg-12 p-0">
            <h1 class="text-center text-white font-weight-bolder display-1" style="line-height: 700px;">درباره ما</h1>
        </div>
    </section>
}
<!-- about us -->
<div class="container">
    <div class="row m-2">
        <div class="head-box text-center mx-auto p-3">
            <h2 class="display-4">تیم ما</h2>
            <h6>با بهترین ها آشنا شوید</h6>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Content/images/team1.jpg" alt="Jane" style="width:100%">
                <div class="container text-right">
                    <h2>نیلوفر خادمی</h2>
                    <p class="title">CEO &amp; مدیرعامل</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    <p>example@example.com</p>
                    <p><button class="button">راه های تماس</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Content/images/team2.jpg" alt="Mike" style="width:100%">
                <div class="container text-right">
                    <h2>نیما خادمی</h2>
                    <p class="title">طراح گرافیک</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    <p>example@example.com</p>
                    <p><button class="button">راه های تماس</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Content/images/team3.jpg" alt="John" style="width:100%">
                <div class="container text-right">
                    <h2>سینا حجازی</h2>
                    <p class="title">برنامه نویس backend</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    <p>example@example.com</p>
                    <p><button class="button">راه های تماس</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
