@{
    ViewBag.Title = "Home Page";
}
@section section{
    <section class="header">
        <div class="col-lg-7 col-sm-12 col-xs-12 p-0"> <img src="~/Content/images/header1.png" alt="cafe and laptop" class="img-fluid" width="100%" height="auto"> </div>

        <!-- For demo purpose -->
        <div class="container-fluid pt-5">
            <div class="pt-5">
                <header class="py-5 mt-5 ml-5">
                    <h1 class="head-text display-4 mb-4 align-center">لورم اپیسوم</h1>
                    <p class="head-text lead mb-0"> یک تمپلیت عالی برای انواع سایت های شرکتی </p>
                    <p class="head-text lead mb-0">طراحی شده توسط <a href="#" class="head-text text-decoration-none"> نیلوفر خادمی</a> </p>
                </header>
            </div>
        </div>
    </section>
    }
<!-- about us -->
<!-- Info block -->
<section class="info-section demo">
    <div class="container">
        <div class="head-box text-center">
            <h2>درباره ما</h2>
            <h6>خدماتی که مادر اختیارتان قرار میدهیم</h6>
        </div>
        <div class="three-panel-block mt-2">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center mb-3 p-lg-3">
                        <div class="box-circle-solid">
                            <i class="fa fa-star mt-3 mb-3" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>قیمت مناسب</h3>
                        <p class="px-4" style="line-height: 2rem;">قیمت های رقابتی در بیشترین تنوع محصولات</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center mb-3 p-lg-3">
                        <div class="box-circle-solid">
                            <i class="fa fa-shield mt-3 mb-3" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>امنیت در پرداخت</h3>
                        <p class="px-4" style="line-height: 2rem;">پرداخت آنلاین از درگاه های امن اینترنتی و پرداخت در محل</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center mb-3 p-lg-3 ">
                        <div class="box-circle-solid">
                            <i class="fa fa-headphones mt-2 mb-1" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>ارتباط مستقیم</h3>
                        <p class="px-4" style="line-height: 2rem;">دسترسی سریع و آسان از طریق شبکه های اجتماعی</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center p-lg-3">
                        <div class="box-circle-solid">
                            <i class="fa fa-location-arrow mt-3 mb-3" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>در دسترس شما</h3>
                        <p class="px-4" style="line-height: 2rem;">تمام فایل های مورد نیاز خود را از این سایت میتوانید تهیه کنید</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center p-lg-3">
                        <div class="box-circle-solid">
                            <i class="fa fa-star mt-3 mb-3" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>محصولات متنوع </h3>
                        <p class="px-4" style="line-height: 2rem;">همواره در حال به روزرسانی محصولاتمان هستیم تا بتوانیم نیازهای شما را برآورده سازیم.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block-overlay text-center p-lg-3">
                        <div class="box-circle-solid">
                            <i class="fa fa-phone mt-3 mb-3" aria-hidden="true" style="font-size: 22pt;"></i>
                        </div>
                        <h3>پاسخگویی ۲۴ ساعته در ۷ روز هفته</h3>
                        <p class="px-4" style="line-height: 2rem;">پشتیبانی ما برای مشتریان وفادارمان همواره پا برجاست و جهت خدمت رسانی به آنها آماده هستیم.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info block -->
<!-- end of about us -->
<!-- services -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgba(168,218,220,0.38)" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,112C672,96,768,128,864,154.7C960,181,1056,203,1152,213.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>

<div class="service-box d-inline-flex flex-wrap">
    <div class="col-xs-12 col-lg-6 mx-auto" style="text-align: center;">
        <img src="~/Content/images/guy-saying-hello.png" width="250px" height="auto">
    </div>
    <div class="col-xs-12 col-lg-6 mx-auto" style="text-align: center;">
        <h3 class="text-right mb-1" style="color: #457b9d;">آنچه ما در اختیار شما قرار میدهیم!</h3>
        <p class="text-right text-justify" style="line-height: 2rem;">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <p class="text-right text-justify" style="line-height: 2rem;">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
        </p>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgba(168,218,220,0.38)" fill-opacity="1" d="M0,128L80,133.3C160,139,320,149,480,138.7C640,128,800,96,960,96C1120,96,1280,128,1360,144L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
</svg>
<div class="text-center clearfix">
    <p class="font-weight-bold" style="font-size: 1.5rem;">
        برای ارتباط بیشتر با ما ثبت نام کنید
    </p>
    <p>
        ممنون از همراهی شما عزیزان
    </p>
    <button type="button" class="btn text-white" style="background-color: #e63946;">ثبت نام</button>
</div>

<!-- end of services -->