@model IEnumerable<DataLayer.BlogCat>
<!--/col-->
<div class="mb40">
    <h4 class="sidebar-title">دسته ها</h4>
    <ul class="list-unstyled categories">
        @foreach(var item in Model)
        {
            <li><a href="/Blogs/Cats/@item.CatId">@item.CatName</a></li>
        }
    </ul>
</div>
<!--/col-->
